*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}

.page{
    border: 1px solid black;
    position: absolute;
    width: 60%;
    height: 70%;
    background-color: white;
    opacity: 0.9;
    top: 55%;
    left: 55%;
    transform: translate(-50%, -50%);

    transition: all 1s;
}

.page:hover{
    background-color: #e0e0e0;
}

.musica{
    border: 1px solid black;
    position: absolute;
    width: 85%;
    height: 40px;
    background-color: white;
    opacity: 0.9;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, 0%);

    /* Allign items to right */
    display: flex;
    justify-content: flex-end;

    transition: all 1s;
}


/* Only for container of each page E.g. FrontPage, AboutMe, Projects ... */
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ----------------- From Project.tsx ------------------- */
.projectContainer{
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.5s;
  height: 250px;

  display: flex;
}

.projectContainer:hover{
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.projectContainer div{
  padding: 10px;
  text-align: justify;
}

.cardFooter{
  display: flex;
  justify-content: flex-start;
  padding: 0 10px;
}

  /* Separate each child with | in between */
.cardFooter a::after{
  content: "|";
  padding: 0 5px;
}

.cardFooter a:last-child::after{
  content: "";
}